<!DOCTYPE html>
<html>

<head>
    <title>Product Page</title>
</head>

<body>
    <h1>Product List</h1>
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        <br><br>
        <input type="submit" value="Add Product">
    </form>
    <br>
    <a href="/cart">
        <button>Go to Shopping Cart</button>
    </a>
</body>

</html>